.cookieBanner {
    position: fixed;
    bottom: 30px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(238, 238, 238, 0.309);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }



  .accept {
    height: 30px;
    padding: 5px 10px 5px 10px;
    background-color: #00aaf4;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
  
    border-radius: 5px;
    margin: 5px 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .accept:hover {
    background-color: #2874A6;
  }
  .accept:active {
    background-color: #154360;
  }
  
  

  .cancel {
    height: 30px;
    padding: 5px 10px 5px 10px;
    background-color: #FDFEFE;
    border: 1px solid black;
    color: black;
    border-radius: 2px;
    cursor: pointer;
  
    border-radius: 5px;
    margin: 0px 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .cancel:hover {
    background-color: #D5DBDB;
  }
  .cancel:active {
    color: #F2F3F4;
    background-color: #566573;
  }

  

  @media (max-width: 600px){

    .cookieBanner {
      position: fixed;
      bottom: 80px;
      left: 10%;
      right: 10%;
      width: 80%;
      padding: 5px 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #eee;
      border-radius: 10px;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }

  }