@import "../../../styles/theme";

$height: 300px;
$width: 300px;
$halfHeight: calc($height / 2);
$halfWidth: calc($width / 2);

.modalContainer {
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba($black, 0.8);
  z-index: 30;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  & > div {
    background: white;
    height: 90vh;
    width: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 25px;
    // background: #3b4465;
    // background-color: #0cbaba;
    // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    // background-color: #2a2a72;
    // background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  }
}
.modal {
  margin: auto;
  position: relative;
  padding: 1rem;
  top: -30px;
  box-sizing: border-box;

  &.hidden {
    display: none;
  }

  .dismissButton {
    background: none;
    border: none;
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
    color: $white;
    font-weight: 400;
    u {
      padding: 0.5rem;
      background: $black;
      border-radius: 4px;
      &:hover {
        background: $black;
      }
    }
  }

  .registerVerifiedModalContent,
  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    width: 350px;
    position: relative;
    padding: 1rem;
    background: white;
    box-shadow: 0px 4px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    & > button {
      background: $primary;
      color: $white;
      border: none;
      padding: 0.5rem;
      width: 150px;
      border-radius: 4px;
      cursor: pointer;
      margin: 0 auto;
    }
  }

  .resetPwSuccess {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    width: 350px;
    position: relative;
    padding: 1rem;
    background: white;
    border-radius: 4px;

    & > button {
      background: $primary;
      color: $white;
      border: none;
      padding: 0.5rem;
      width: 150px;
      border-radius: 4px;
      cursor: pointer;
      margin: 0 auto;
    }
  }
}

.welcomeContent {
  color: $plastic;
  margin: 0;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.successMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $matte;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 6px solid $e;
}

.successText {
  & > h4 {
    font-size: 1.4rem;
    margin: 0;
  }
  .verified {
    color: $metal;
    font-size: 1rem;
  }

  &:nth-of-type(1) {
    color: $primary;
    font-family: Arial Narrow, sans-serif;
  }
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  stroke-width: 2;
  stroke: $white;
  stroke-miterlimit: 10;
  margin-right: 0.5rem;
  box-shadow: inset 0px 0px 0px $primary;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;

  &.static {
    animation: none;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 30px $primary;
  }
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;

  &.static {
    animation: none;
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $primary;
  }
}

.resetPwSuccessMessage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $matte;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 0.5rem;
  flex-direction: column;

  .successText {
    .successTextTitle {
      margin-bottom: 1rem;
    }

    border-bottom: none;
    margin-bottom: 1rem;
  }
}
