@import '../../../styles/theme';
@import '../../../styles/mixin';

.globalOverlay{
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba($black, 0.05);
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalogPage{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
  max-width: 100%;
  .catalogPageRight{
    overflow-x: auto;
    flex-grow: 1;
    height: 100%;
  }

}

.dashboardPage{
  display: flex;
  flex-direction: row;


  .dashboardPageContent{
    position: relative;
    overflow:hidden;
    display: block;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
  }
}



.body{
  
  @include max-width($mobile-vs-desktop){
    margin-bottom: 80px;
  }
}

.app{
  min-height: fit-content;
  position: relative;

  background: #fcfcfc;
  h1, h2, h3, h4, h5, h6, p, span, text, li, label, button, a, input, pre, textarea {
    font-family: $primary-font;
  }
  input{
    background: transparent;

    &:focus{
      outline: none;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.paginationBar{
  position: fixed;
  top: 60px;
  height: 20px;
  width: 100%;
  border-top: 1px solid black;
  z-index: 2;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  h6{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 200;
  }
}

