/* listing page  */

.listing_box{
  
    margin : auto ;
    margin-right : 0px ;
    margin-left : 0px ;
    /* margin: 20px ; */
    display : flex ; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 221px;
    background-color: #e13d6f;
    font-family: 'Inria Sans', sans-serif ;
  }
  
  .box1{
    color : white ; 
    font-size: 45px ;
    margin-top: 40px ;
  }
  
  .box2{
    color:  white; 
    font-size: 20px;
    margin-top: 26px ;
  }