
$carouselWidth: 800px;

.outerCarouselContainer{
  overflow-x: hidden;
  max-width: $carouselWidth;
}

.pageCarouselContainer{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.carouselContainer{
  background: black;
  height: 100%;
  width: 100%;
  position: relative;

  .carouselContainerContent{
    height: 100%;
    width: max-content;
    position: relative;
    //left: 1100px;
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition-property: right;
    transition-duration: 0.5s;


    & >div{
      color: white;
      width: 100vw;
      height: 100%;

      &:nth-of-type(1){
        background: purple;
      }
      &:nth-of-type(2){
        background: yellow;
      }
      &:nth-of-type(3){
        background: blue;
      }
      &:nth-of-type(4) {
        background: orange;
      }
      &:nth-of-type(5){
        background: brown;
      }
    }
  }

}


.filterCategoryRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 2rem;
  height: 40px;


}

.leftArrow, .rightArrow{
  z-index: 2;
  position: absolute;
  top: 50%;
  height: 24px;
  width: 24px;
  color: #fff;
}

.leftArrow{
  left: 1rem;
}

.rightArrow{
  right: 1rem;
}



$dots-width: 120px;

.dots{
  width: $dots-width;
  position: absolute;
  z-index: 99;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  left: calc( 50% - #{$dots-width / 2});
  .dot{
    border-radius: 50%;
    margin: 0 0.2rem;
    position: relative;
    height: 12px;
    width: 6px;
    background: #aaa;
    left: calc(50% - #{$dots-width / 2});
    border: none;

    &.selected{
      background: #fff;
      transform: scale(1.1);
    }
  }
}