// brand

$primary: #7479ff;
$primary-2: #6884B8;
$primary-3: #313474;
$primary-4:  rgba(#6884B8, 0.69);

// utility

$lovely-pink: #ff7796;
$warning-red: #ff6072;
$success-green: #7ac142;
$green: #2ace81;
$sun:  #ffc439;

// scale

// light
$white: #fff;
$cloud: #f4f4f4;
$e: #eee;
$plastic: #e4e4e4;
$c: #ccc;
// med
$metal: #aaa;
$matte-metal: #999;
$matte: #777;
$grey: #555;
// dark
$dark: #323232;
$black: #000;

$primary-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$landing-page-font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";


$HOME_COLOR: #00c774;
$GEM_COLOR: #6c6c6c;
$FP_COLOR: #f39e2f;
$PROFILE_COLOR: #ff4a11;
$PRIMARY_COLOR: #1088af;
$NAVY: #0c3542;
$PRIMARY_BLUE: #1f94b9;
$LIGHT_PRIMARY_BLUE: rgba(20,136,185,0.71);
$SHARP: #324d60;
$PURPLE: #8524e0;
$PINK: #ff687f;
$DNA_THEME_COLOR: #ef5261;
$ACTIVE_BLUE: #35b5fc;
$ORANGE: #f39e2f;
$DARK_ORANGE: #8c5400;
$THEME_BLUE: #0b6aad;



